@model FaustWeb.Domain.DTO.Auth.ResetPasswordDto 
@{
    ViewData["Title"] = "Реєстрація";
}

<section class="container forms">
    <div class="form login" style="display:block;">
        <div class="form-content">
            <label for="show" class="close-btn" title="close" onclick="goToMainPage()">
                <img src="~/icons/x.png">
            </label>
            <div style="font-size: 30px; color: white;">Змінити пароль</div>

            <form id="loginForm" action="resetPassword" method="post">
                <div asp-validation-summary="All" class="text-danger" style="color:red"></div>

                <div class="field input-field">
                    <input type="password" asp-for=Password placeholder="Пароль" class="password" style="color: #8E8E8E; background-color: #19102f;">
                    <i class='bx bx-hide eye-icon'></i>
                </div>

                <div class="field input-field">
                    <input type="password" asp-for=ConfirmPassword placeholder="Повторіть пароль" class="password" style="color: #8E8E8E; background-color: #19102f;">
                    <i class='bx bx-hide eye-icon'></i>
                </div>

                <input asp-for=Email hidden />
                <input asp-for=Token hidden />


                <div class="field button-field" style="margin-top: 50px;">
                    <button type="submit" id="submitLogin">Змінити</button>
                </div>
            </form>
        </div>
    </div>
</section>