@{
    ViewData["Title"] = "Блібліотека";
}
<link rel="stylesheet" href="css/libraryStyle.css">
<main>
    <header class="library-header">
        <div class="header-left">
            <div class="library-text">
                <h1 class="logo">Бібліотека (4602)</h1>
                </div>
            <div class="library-actions">
                <select class="sort-dropdown">
                    <option value="ratings">
                        <span>Сортувати:</span> 
                        За оцінками
                        </option>
                    <option value="most-readings">
                        <span>Сортувати:
                            </span> 
                        За прочитанням
                        </option>
                    </select>
                <div class="page-controls">
                    <button class="expand-btn" id="expandDropdown">
                        <img src="icons/expandView.png">
                        </button>
            
                    <img src="icons/Vector 3.png">
            
                    <label class="switch">
                        <input type="checkbox" id="styleSwitcher">
                        <span class="slider"></span>
                        </label>
                    </div>
                </div>
            </div>
        <div class="header-right">
            <div class="controls">
                <button class="filter-btn">Фільтри</button>
                <button class="random-btn">Рандом</button>
                </div>
            </div>
        </header>
    <section id="layout-wrapper" class="library-grid">
        <div class="library-item">
            <div class="img-container">
                <img src="icons/1653503485_avaav (1).jpg" alt="Ще тільки світанок" class="cover">
                <div class="top-images">
                    <img src="icons/onProcess.png" class="process-icon" alt="Top Image 1">
                    <img src="icons/Category.png" class="category-icon" alt="Top Image 2">
                </div>
            </div>
            <div class="manga-info">
                <h4 class="title">Ще тільки світанок</h4>
                <p class="small-title">Just twilight</p>
                <p class="about">Вона була схожа на тайфун. Той, що необережно порушив його спокійні дні.</p>
            </div>
        </div>
        <div class="library-item">
            <div class="img-container">
                <img src="icons/1653503485_avaav (1).jpg" alt="Ще тільки світанок" class="cover">
                <div class="top-images">
                    <img src="icons/onProcess.png" class="process-icon" alt="Top Image 1">
                    <img src="icons/Category.png" class="category-icon" alt="Top Image 2">
                </div>
            </div>
            <div class="manga-info">
                <h4 class="title">Ще тільки світанок</h4>
                <p class="small-title">Just twilight</p>
                <p class="about">Вона була схожа на тайфун. Той, що необережно порушив його спокійні дні.</p>
            </div>
        </div>
        <div class="library-item">
            <div class="img-container">
                <img src="icons/1653503485_avaav (1).jpg" alt="Ще тільки світанок" class="cover">
                <div class="top-images">
                    <img src="icons/onProcess.png" class="process-icon" alt="Top Image 1">
                    <img src="icons/Category.png" class="category-icon" alt="Top Image 2">
                </div>
            </div>
            <div class="manga-info">
                <h4 class="title">Ще тільки світанок</h4>
                <p class="small-title">Just twilight</p>
                <p class="about">Вона була схожа на тайфун. Той, що необережно порушив його спокійні дні.</p>
            </div>
        </div>
        <div class="library-item">
            <div class="img-container">
                <img src="icons/1653503485_avaav (1).jpg" alt="Ще тільки світанок" class="cover">
                <div class="top-images">
                    <img src="icons/onProcess.png" class="process-icon" alt="Top Image 1">
                    <img src="icons/Category.png" class="category-icon" alt="Top Image 2">
                </div>
            </div>
            <div class="manga-info">
                <h4 class="title">Ще тільки світанок</h4>
                <p class="small-title">Just twilight</p>
                <p class="about">Вона була схожа на тайфун. Той, що необережно порушив його спокійні дні.</p>
            </div>
        </div>
        <div class="library-item">
            <div class="img-container">
                <img src="icons/1653503485_avaav (1).jpg" alt="Ще тільки світанок" class="cover">
                <div class="top-images">
                    <img src="icons/onProcess.png" class="process-icon" alt="Top Image 1">
                    <img src="icons/Category.png" class="category-icon" alt="Top Image 2">
                </div>
            </div>
            <div class="manga-info">
                <h4 class="title">Ще тільки світанок</h4>
                <p class="small-title">Just twilight</p>
                <p class="about">Вона була схожа на тайфун. Той, що необережно порушив його спокійні дні.</p>
            </div>
        </div>
        <div class="library-item">
            <div class="img-container">
                <img src="icons/1653503485_avaav (1).jpg" alt="Ще тільки світанок" class="cover">
                <div class="top-images">
                    <img src="icons/onProcess.png" class="process-icon" alt="Top Image 1">
                    <img src="icons/Category.png" class="category-icon" alt="Top Image 2">
                </div>
            </div>
            <div class="manga-info">
                <h4 class="title">Ще тільки світанок</h4>
                <p class="small-title">Just twilight</p>
                <p class="about">Вона була схожа на тайфун. Той, що необережно порушив його спокійні дні.</p>
            </div>
        </div>
        <div class="library-item">
            <div class="img-container">
                <img src="icons/1653503485_avaav (1).jpg" alt="Ще тільки світанок" class="cover">
                <div class="top-images">
                    <img src="icons/onProcess.png" class="process-icon" alt="Top Image 1">
                    <img src="icons/Category.png" class="category-icon" alt="Top Image 2">
                </div>
            </div>
            <div class="manga-info">
                <h4 class="title">Ще тільки світанок</h4>
                <p class="small-title">Just twilight</p>
                <p class="about">Вона була схожа на тайфун. Той, що необережно порушив його спокійні дні.</p>
            </div>
        </div>
        <div class="library-item">
            <div class="img-container">
                <img src="icons/1653503485_avaav (1).jpg" alt="Ще тільки світанок" class="cover">
                <div class="top-images">
                    <img src="icons/onProcess.png" class="process-icon" alt="Top Image 1">
                    <img src="icons/Category.png" class="category-icon" alt="Top Image 2">
                </div>
            </div>
            <div class="manga-info">
                <h4 class="title">Ще тільки світанок</h4>
                <p class="small-title">Just twilight</p>
                <p class="about">Вона була схожа на тайфун. Той, що необережно порушив його спокійні дні.</p>
            </div>
        </div>
        <div class="library-item">
            <div class="img-container">
                <img src="icons/1653503485_avaav (1).jpg" alt="Ще тільки світанок" class="cover">
                <div class="top-images">
                    <img src="icons/onProcess.png" class="process-icon" alt="Top Image 1">
                    <img src="icons/Category.png" class="category-icon" alt="Top Image 2">
                </div>
            </div>
            <div class="manga-info">
                <h4 class="title">Ще тільки світанок</h4>
                <p class="small-title">Just twilight</p>
                <p class="about">Вона була схожа на тайфун. Той, що необережно порушив його спокійні дні.</p>
            </div>
        </div>
        <div class="library-item">
            <div class="img-container">
                <img src="icons/1653503485_avaav (1).jpg" alt="Ще тільки світанок" class="cover">
                <div class="top-images">
                    <img src="icons/onProcess.png" class="process-icon" alt="Top Image 1">
                    <img src="icons/Category.png" class="category-icon" alt="Top Image 2">
                </div>
            </div>
            <div class="manga-info">
                <h4 class="title">Ще тільки світанок</h4>
                <p class="small-title">Just twilight</p>
                <p class="about">Вона була схожа на тайфун. Той, що необережно порушив його спокійні дні.</p>
            </div>
        </div>
    </section>
</main>
<script src="js/styleSwitcher.js"></script>